---
title: test
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>{{ "Hello World!" | downcase }}</h1>
    <p>{{site.url}} : {{site.baseurl}} : {{ page.url }}</p>



    <!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
	  <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
	  <p class="author">
	    <span class="date">{{ post.date }}</span>
	  </p>
	  <div class="content">
	    {{ post.content }}
	  </div>
	{% endfor %}

	<!-- Pagination links -->
	{% if paginator.total_pages > 1 %}
	<div class="pagination">

	  {% if paginator.previous_page %}
	    <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous"><</a>
	  {% endif %}


	  <!-- First Pages -->
	  <a href="{{ site.url }}" {% if paginator.page == 1 %}class="currentPage" style="color:red;"{% endif %}>1</a>
	  {% if paginator.total_pages >= 2 %}
	  	<a href="{{ site.url }}/page2" {% if paginator.page == 2 %}class="currentPage" style="color:red;"{% endif %}>2</a>
	  {% endif %}
	  {% if paginator.total_pages >= 3 %}
	  	<a href="{{ site.url }}/page3" {% if paginator.page == 3 %}class="currentPage" style="color:red;"{% endif %}>3</a>
	  {% endif %}

	  <!-- Suspensions dots -->
	  {% if paginator.total_pages >= 11 %}
	   ... 
	  {% endif %}


	  <!-- Current Pages V1 -->	  
	  <!--
	  {% if paginator.total_pages >= 5 % and paginator.page >= 5 %}
	  	<a href="{{ site.url }}/page{{ paginator.page - 1 }}" style="color:red;">{{ paginator.page - 1 }}</a>
	  {% endif %}

	  {% if paginator.total_pages >= 4 % and paginator.page >= 4 %}
	  	<a href="{{ site.url }}/page{{ paginator.page }}" style="color:red;">{{ paginator.page }}</a>
	  {% endif %}

	  {% if paginator.total_pages >= 6 % and paginator.page >= 4 %}
	  	<a href="{{ site.url }}/page{{ paginator.page + 1 }}" style="color:red;">{{ paginator.page + 1 }}</a>
	  {% endif %}
		-->



	  <!-- Current Pages V2 -->	  

	  {% if paginator.total_pages >= 7 % and paginator.page > 3 %}
	  	<a href="{{ site.url }}/page{{ paginator.page | minus: 1 }}" style="color:red;">{{ paginator.page | minus: 1 }}</a>
	  {% endif %}

	  {% if paginator.total_pages >= 7 % and paginator.page > 3 and paginator.page < paginator.total_pages | minus: 2 %}
	  	<a href="{{ site.url }}/page{{ paginator.page }}" style="color:red;">{{ paginator.page }}</a>
	  {% endif %}

	  {% if paginator.total_pages >= 8 % and paginator.page < paginator.total_pages | minus: 2 %}
	  	<a href="{{ site.url }}/page{{ paginator.page | plus: 1 }}" style="color:red;">{{ paginator.page | plus: 1 }}</a>
	  {% endif %}



	  <!-- Suspensions dots -->
	  {% if paginator.total_pages >= 7 %}
	   ... 
	  {% endif %}


	  <!-- Before Before Last Page -->
	  {% if paginator.total_pages >= 6 %}
	  	<a href="{{ site.url }}/page{{ paginator.total_pages | minus: 2 }}" {% if paginator.page == paginator.total_pages | minus: 2 %}class="currentPage" style="color:red;"{% endif %}>{{ paginator.total_pages | minus: 2 }}</a>
	  {% endif %}

	  <!-- Before Last Page -->
	  {% if paginator.total_pages >= 5 %}
	  	<a href="{{ site.url }}/page{{ paginator.total_pages | minus: 1 }}" {% if paginator.page == paginator.total_pages | minus: 1 %}class="currentPage" style="color:red;"{% endif %}>{{ paginator.total_pages | minus: 1 }}</a>
	  {% endif %}

	  <!-- Last Page -->
	  {% if paginator.total_pages >= 4 %}
	  	<a href="{{ site.url }}/page{{ paginator.total_pages }}" {% if paginator.page == paginator.total_pages %}class="currentPage" style="color:red;"{% endif %}>{{ paginator.total_pages }}</a>
	  {% endif %}



	  {% if paginator.next_page %}
	    <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">></a>
	  {% endif %}

	</div>
	{% endif %}


  </body>
</html>